<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424079079980-eng236o539nmo7skttpuh977fam4pk7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424079079980-eng236o539nmo7skttpuh977fam4pk7j</string>
	<key>API_KEY</key>
	<string>AIzaSyAoSxlHhVLNtnrb2xwgSO3Ogzv9j9HHbcE</string>
	<key>GCM_SENDER_ID</key>
	<string>424079079980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.surendra.testing.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messengerapp-403c8</string>
	<key>STORAGE_BUCKET</key>
	<string>messengerapp-403c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424079079980:ios:d2e9b04f4b7b8a6da32f89</string>
</dict>
</plist>